body {
	margin: 0;
	overflow: hidden;
	font-family: Arial, sans-serif;
	color: white;
}

#timer, #inventory {
	position: absolute;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
}

#timer {
	top: 10px;
	left: 10px;
	font-size: 24px;
}

#inventory {
	bottom: 10px;
	left: 10px;
}
